.sidebar-container {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin: 10px 0px;
  border-radius: 30px;
}

a {
  text-decoration: none;
}

.navbar {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #9991be;
  margin: 5px auto;
  border-radius: 20px;
  transition: all 0.2s ease;
  background-color: rgba(101, 88, 172, 0);
}

.navbar.active {
  background-color: rgba(101, 88, 172, 1);
  color: #fff;
  transform: scale(1.05);
}

.navbar:hover:not(.active) {
  color: #554994;
}

.nav-title {
  margin: 5px auto;
  font-weight: 600;
}
