.player-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.left-player-body {
  width: 60%;
  margin-right: 2%;
  height: 90%;
}

.right-player-body {
  width: 30%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-player-body {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 65%;
  height: 12%;
  display: flex;
  justify-content: center;
}
