.audio-player-card {
  position: relative;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}

.audio-player-left {
  width: 10%;
  padding: 0;
  margin-left: 5%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-player-label {
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.audio-player-label .songname {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.audio-player-label .artist {
  font-size: 12px;
  margin-top: 0;
  font-weight: 400;
}

.audio-player-center {
  width: 50%;
  height: 100%;
}

.audio-player-right {
  align-items: center;
  justify-content: center;
}
