.audio-control {
  width: 100%;
  align-items: center;
}

.control-wrapper {
  width: 100%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

.action-btn {
  margin: 0px 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {
  margin: 0 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(40deg, #9991be 20%, #554994 100%);
  box-shadow: 0px 8px 32px 0px #e0cddd;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
